{% extends 'base.html' %}

{% block content %}

<section class="text-center text-light" id="welcome-banner">
    <div class="container p-5">
        <div class="row">
            <div class="d-md-flex align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Welcome to Townsville's City Library</h1>
            </div>
        </div>
    </div>
</section>
<section class="text-center p-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/library.jpg" class="img-fluid" alt="Images of hundreds of books in a library">
            </div>
        </div>
    </div>
</section>
{% endblock %}